@using Humanizer

@page "/Questions"

@inherits HelpoPage

@inject NavigationManager NavigationManager
@inject QuestionsService QuestionsService

<AuthorizeView>
    <Authorized>
        <MudTooltip Text="Click to ask question.">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Add" Color="Color.Primary" OnClick="@AskQuestion">Ask a question</MudButton>
        </MudTooltip>
    </Authorized>
    <NotAuthorized>
        <MudTooltip Text="You need to login first before you can ask a question.">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Add" Color="Color.Primary" Disabled="true" >Ask a question</MudButton>
        </MudTooltip>
    </NotAuthorized>
</AuthorizeView>

<MudDivider Class="mt-4" />

@if (this._questions is null)
{
    <div class="d-flex justify-center mt-4">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <MudPaper Class="mt-4">
        <MudList Clickable="true">
            @foreach (var question in this._questions)
            {
                <MudListItem OnClick="@(() => this.OnQuestionClick(question))" DisableRipple="true">
                    <MudGrid Spacing="0">
                        <MudItem sm="9" md="10" xs="12">
                            <div>
                                <MudTooltip Text="The title of the question.">
                                    <MudText Typo="Typo.body1">@question.Title</MudText>
                                </MudTooltip>
                            </div>

                            <MudTooltip Text="The application this question is about.">
                                <MudChip Class="ml-n1 mr-2" Color="Color.Primary">@question.Application</MudChip>
                            </MudTooltip>

                            <MudTooltip Text="The tags of the question.">
                                @foreach (var tag in question.Tags)
                                {
                                    <MudChip Class="ml-n1 mr-2">@tag</MudChip>
                                }
                            </MudTooltip>
                        </MudItem>
                        <MudItem sm="3" md="2" xs="12" Class="d-flex align-center">
                            <div>
                                <div>
                                    <MudTooltip Text="Who asked this question.">
                                        <MudText Typo="Typo.subtitle1">@question.CreatedByName</MudText>
                                    </MudTooltip>
                                </div>

                                <div>
                                    <MudTooltip Text="@($"This question was asked on {@question.CreatedAt:G}.")">
                                        <MudText Typo="Typo.subtitle2">@question.CreatedAt.Humanize()</MudText>
                                    </MudTooltip>
                                </div>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudListItem>
                <MudDivider/>
            }
        </MudList>
    </MudPaper>
}

@code {
    #nullable enable
    
    public override string Title => "Questions";
    
    private List<Questions_Newest.Result>? _questions = default;

    protected override async Task OnInitializedAsync()
    {
        this._questions = await this.QuestionsService.GetNewestQuestions(page: 1);
    }

    private void AskQuestion()
    {
        this.NavigationManager.NavigateTo("/questions/ask");
    }

    private void OnQuestionClick(Questions_Newest.Result question)
    {
    }
}
